.link-container {
    background-color: #CCD0CF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    background-color: rgb(227, 249, 244, .76);
    margin: 0;
}


.title {
    width: 70%;
    height: 45vw;
    display: flex;
}


.ttlContainer {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.ttlContainer .mainTitle {
    line-height: 1rem;
}

.title .subTitle {
    color: #555A58;
    font-family: 'Arial', serif;
    font-size: clamp(1rem, 1.6vw, 2rem);
    font-weight: lighter;
}

.imgContainer {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.imgContainer img {
    width: 100%;
    aspect-ratio: 3/4;
}

/* Related Links card */
.card-container {
    width: 60%;
    /*height: fit-content;*/
    /*background-color: pink;*/
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.link-card {
    width: 100%;
    aspect-ratio: 12/5;
    margin: 40px 0;
    background-color: #FFFFFF;
    border-radius: 24px;
    position: relative;
}

.link-info-card {
    width: 65%;
    height: 100%;
    border-radius: 24px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-info-card .link-info {
    width: 75%;
}

.link-info h5 {
    font-weight: lighter;
}

.link-img-container {
    width: 55%;
    height: 100%;
    border-radius: 24px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-img-container img {
    width: 70%;
    height: 70%;
}