/* GENERAL
body {
	background:#EFEFEF;
}
.wrapper {
	width:950px;
	margin:0 auto;
	position:relative;
	display:block;
}
a:link, a:visited {
	color:#316594;
	text-decoration:underline;
}
a:hover, a:focus {
	color:#222;
	text-decoration:underline;
}	


 HEADER 
.header {
	background: #6B94B4;
	background: -moz-linear-gradient(top, #6B94B4 0%, #316594 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6B94B4), color-stop(100%,#316594)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B94B4', endColorstr='#316594',GradientType=0 );
	height:80px;
	border-bottom:#2B5780 1px solid;
}

/* HEADER: breadcrumbs 
header .breadcrumbs {
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
	border-top:#FFF 1px solid;
	border-bottom:#ccc 1px solid;
	font-size:11px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	color:#666;
	text-transform:uppercase;
	width:100%;
	background: #eee;
	background: -moz-linear-gradient(top, #EDEDED 0%, #D5D5D5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#D5D5D5));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#D5D5D5',GradientType=0 ); 
}
header .breadcrumbs a:link, 
header .breadcrumbs a:visited {
	color:#666;
	text-decoration:underline;
}
header .breadcrumbs a:focus, 
header .breadcrumbs a:hover {
	color:#316594;
	text-decoration:underline;
}
#index header .breadcrumbs {
	display:none; /* no reason to have breadcrumbs on homepage 
} 

/* HEADER: logo 
header #logo {
	position:absolute;
	top:20px;
	left:0;
	font-size:35px;
	white-space:nowrap;
	color:#fff;
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0, .4);
}
header #logo:link, 
header #logo:visited, 
header #logo:hover, 
header #logo:focus {
	text-decoration:none;
}

/* HEADER: navigation 
header nav {
	position:absolute;
	top:30px;
	right:0;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
}
header nav ul {
	list-style:none;	
	float:right;
}	
header nav li {
	display:block;
	float:left;
	margin:0 0 0 10px;
}
header nav li a {
	display:block;
	font-size:13px;
	padding:5px 15px;
	text-transform:uppercase;
	font-weight:bold;
}
header nav li a:link, 
header nav li a:visited {
	color:#eee;
	text-decoration:none;
}	
header nav li a:hover, 
header nav li a:focus {
	color:#FFF;
	text-decoration:none;
}
header nav li.current a {
	color:#FFF;
	background:#7096B6;
	background:rgba(255,255,255,.2);
	text-decoration:none;
	border-radius:40px;
	-moz-border-radius:40px;
	-khtml-border-radius:40px;
	-webkit-border-radius:40px;
}


/* BODY CONTENT 
article {
	float:left;
	width:688px;
	min-height:500px;
	background:#fff;
	border-bottom:1px solid #c8c8c8;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #c8c8c8;
	-moz-box-shadow: 2px 1px 10px rgba(0,0,0, .07);
	-webkit-box-shadow: 2px 1px 10px rgba(0,0,0, .07);
	box-shadow: 2px 1px 10px rgba(0,0,0, .07);
}
article h1 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 45px 0;
	color: #275176;
	font-size:37px;
}
article h2 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #222222;
	font-size:30px;
}
article h3 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 15px 0;
	color: #275176;
	font-size:25px;
}
article h4 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #555;
	font-size:20px;
	font-weight:100;
}
article h5 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #333;
	font-size:15px;
}
article h6 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #666;
	font-size:14px;
}
article section {
	padding:40px;
	line-height:22px;
	font-size:14px;
	color:#333;	
}
article section p {margin:0 0 25px 0;}
article section ul, 
article section ol {
	margin:0 0 25px 30px;
}
article section ul ul, 
article section ol ol,
article section ul ol, 
article section ol ul {
	margin:0 0 0 25px;
}
article section code {
	border:1px solid #ccc;
	background:#f6f6f6;
	font-size:12px;
	padding:1px;
}
article section pre {
	border:1px solid #ccc;
	background:#f6f6f6;
	padding:15px;
	margin:0 0 25px 0;
	line-height:16px;
	font-size:13px;
	color:#555;
	text-shadow: 1px 1px 0px #fff;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}
article section pre code {
	border:none;
	background:none;
	padding:none;
}
article section blockquote {
	margin:0 0 25px 20px;
	color:#555;
	line-height:20px;
	font-family:georgia, garamond, serif;
	font-style:italic;
	padding:0 0 0 15px;
	border-left:1px solid #ccc;
}
article section .footer {
	color:#888;
	font-size:11px;
	margin-top:40px;
	border-top:1px dotted #ccc;
	padding-top:15px;
}
article section .footer p {
	margin:0 0 10px 0;
}


/* SIDEBAR 
aside {
	float:right;
	width:260px;
	margin:40px 0 0 0;
}
aside .section {
	padding:0 0 0 30px;	
}
aside .section {
	margin:0 0 40px 0;
	font-size:11px;
	line-height:16px;
	color:#555;
	text-shadow: 1px 1px 0px #fff;
}
aside .section p {
	margin:0 0 15px 0;
}
aside .section ul, 
aside .section ol {
	margin:0 0 15px 20px;
}
aside .section h2 {
	background:#333;
	border-top:1px solid rgba(255,255,255,.4);
	text-shadow: 1px 1px 0px rgba(0,0,0,.5);
	text-transform:uppercase;
	background: -moz-linear-gradient(top, #444 0%, #222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); 
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	font-weight:100;
	color:#fff;
	font-size:19px;
	line-height:19px;
	margin:0 0 20px -31px;
	padding:5px 0 7px 25px;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}

/* SIDEBAR: socialmedia 
aside #socialmedia {
	position:relative;
}
aside #socialmedia h2 {
	width:65px;
	background: #316594;
	background: -moz-linear-gradient(top, #316594 0%, #2C5983 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#316594), color-stop(100%,#2C5983));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316594', endColorstr='#2C5983',GradientType=0 ); 
}
aside #socialmedia .icons {
	position:absolute;
	top:3px;
	left:100px;
}
aside #socialmedia .icons a{
	margin:0 2px;
}

/* FOOTER 
footer {
	padding:20px 0;
	text-shadow: 1px 1px 0px rgba(255,255,255,.8);
	color:#888;
	font-size:11px;
}
footer .left {
	float:left;
	width:40%;
	text-align:left;
}
footer .right {
	float:right;
	width:60%;
	text-align:right;
}
footer a:link, footer a:visited {
	color:#888;
	text-decoration:underline;
}
footer a:hover, footer a:focus {
	color:#555;
	text-decoration:underline;
} */

/**************************************************************/

/* IMPORTED FROM STATIC DESIGN */ 
 

/******************** main page  *****************************/

.body-main-container {
    /*display: grid;*/
    /*grid-auto-rows:190px auto 1fr ;*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/********************* main content Section *****************************************/
/* Placeholder for main contents */
.main-content {
    width: 100%;
    display: flex;
    /*display: grid;*/
    /*grid-template-columns: 6fr 1fr;*/
    /* width: 100%; */
    justify-content: center;
    margin: 20px 0;
    /* background-color: lightpink; */
}

/* main image */
.image-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: 80%

}

.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* special event container */
.special-events-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.events-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
    /* height: 60%; */

}

.events-1 {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    height: 350px; */
    height: 450px;
    width: 400px;
}

/* Specials event images */
.events-1 img {
    width: 100%;
    height: 65%;
}

.events-1 img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.events-title {
    text-align: center;
}

/* Overview section */

.text-container-title {
    width: 100%;
    text-align: center;
    background-color: #66AA9C;
}

.text-container-title h3 {
    margin: 10px 10px;
    color: white;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.text ul {
    padding-left: 1px;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    /* gap: 15px; */
    justify-content: space-evenly;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 500px;
    height: 250px;
    overflow: auto;
}

.deadline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


/********************* main content side Section *****************************************/


/********************* main-style *****************************/
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);

    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    color: #555A58;
}

h1 {
    font-family: 'Arial', serif;
    font-size: clamp(2rem, 3.2vw, 4rem);
}

h2 {
    font-family: 'Arial', serif;
    font-size: clamp(1.25rem, 2vw, 2.5rem);
}

h3 {
    font-family: 'Arial', serif;
    font-size: clamp(1rem, 1.6vw, 2rem);
}

h4 {
    font-family: 'Arial', serif;
    font-size: clamp(0.75rem, 1.2vw, 1.5rem);
}

h5 {
    font-family: 'Arial', serif;
    font-size: clamp(0.625rem, 1vw, 1.25rem);
}

h6 {
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

p {
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

a {
    font-family: 'Arial', serif;
    font-size: clamp(0.75rem, 1.2vw, 1.5rem);
    text-decoration: none;
}


/******************** navbar  *****************************/
/* Container for the whole navbar */
#main-nav {
    width: 100%;
    height: clamp(45px, 4.2vw, 80px);
    margin: 0;
    padding: 0;
    background-color: #66AA9C;
    display: flex;
    justify-content: center;
    /* z-index: 1; */
    position: fixed;
}

/* Container for the logo image */
#logo_container {
    height: clamp(45px, 4.2vw, 80px);
    margin: 0 1vw;
    display: flex;
    align-items: center;
}

#logo_container img {
    height: clamp(45px, 4.2vw, 80px);
    aspect-ratio: initial;
}


/* Container for nav buttons */
#navbar {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#navbar nav {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar a {
    color: #EEF2F0;
}

/*.nav-menu {*/
/*    display: flex;*/
/*}*/

/* The verticle line between 'Teams' and 'Contact'  */
#nav-divider::before {
    content: '';
    display: flex;
    height: 2rem;
    width: 1px;
    background-color: #EEF2F0;
    position: absolute;
    margin-left: -8%;
}

/**/


#navbar ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#navbar li {
    padding: 0 1%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar li:hover {
    background-color: #75C2B2;
}

#navbar a {
    color: #EEF2F0;
}

/* Wrapper for the dropdown menu */
.dropWrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

/* ul in the dropdown menu */
.dropWrap ul {
    width: 113%;
    height: fit-content;
    margin-top: clamp(23px, 2.8vw, 53px);
    padding: 0;
    opacity: 0;
    position: absolute;
    background-color: #75C2B2;

    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
}

/* li in the dropdown menu */
.dropWrap li {
    height: clamp(40px, 3.5vw, 65px);
    display: flex;
    text-align: center;
}

/* Hover css for items in dropdown menu */
.dropWrap li:hover {
    background-color: #EEF2F0;
}

.dropWrap li:hover a.dropItem {
    color: #75C2B2;
}

.dropdown:hover .dropWrap ul {
    display: flex;
    opacity: 1;
    transition-duration: 500ms;
}

/* Hamburger menu */
.hamburger-nav {
    height: 100%;
    display: none;
    align-items: center;
    z-index: 4;
}

/* Expand to full view after clicked */
.open .hamburger-nav {
    width: 100vw;
}

/* Wrap the hamburger icon so that the entire area could be clicked */
.hamburger-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* The hamburger menu icon */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -20px;
    width: 25px;
    height: 8px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EEF2F0;
    transition: transform 0.2s ease;
}

.line-1 {
    transform: translateY(0px);
}

.line-2 {
    transform: translateY(8px);
}

.line-3 {
    transform: translateY(16px);
}

/* Reshape into X shape after clicked */
.open .line-1 {
    transform: translateY(8px) rotate(-45deg);
}

.open .line-2 {
    opacity: 0;
}

.open .line-3 {
    transform: translateY(3px) rotate(45deg);
}

/* Dropdown menu after hamburger clicked */
.menu {
    width: 100vw;
    background-color: #66AA9C;
    position: absolute;
    top: clamp(45px, 4.2vw, 80px);;
    left: 0;
    display: none;
    opacity: 0;
    flex-direction: column;
    text-align: center;
    animation-name: swipeIn;
    animation-duration: 1s;
}

.menu ul {
    list-style-type: none;
    flex-direction: column;
}

.menu li {
    padding: 20px;
}


/* Swipe in animation for menu block */
@keyframes swipeIn {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}


/**/

/* Responsive for navbar */
@media only screen and (max-width: 900px) {
    .navbar nav {
        display: none;
    }

    .hamburger-nav {
        display: flex;
    }

}

/**/


/******************** scorebar  *****************************/
/* Main container for the scorebar */
.scorebar-container {
    width: 100%;
    height: clamp(67.5px, 6.3vw, 120px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    margin-top: 70px;

}

/* To restrict the scorebar in the middle 90% part of page width */
.scorebar {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Container for the box with select input */
.scorebar .pick-date {
    width: 10%;
    display: flex;
    border-style: none solid;
    border-color: #EEF2F0;
    border-width: 0.5rem;
    justify-content: center;
}

/* Customize the select input */
.scorebar select {
    height: fit-content;
    /*margin: 20% 0;*/
    align-self: center;
    padding: 6px;
    font-family: 'Arial', serif;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    border: none;
    background-color: #CCD0CF;
    border-radius: 8px;
    cursor: pointer;
}

/* Remove outline when it's focused */
.scorebar select:focus-visible {
    outline: none;
}

/* The wrap for all teamscore cards */
.teamscore-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Card for each teamscore */
.teamscore-card {
    width: 150px;
    height: 100%;
    padding: 0 1%;
    border-right: 2px solid #EEF2F0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #555A58;
    font-family: 'Arial', serif;
    font-size: clamp(0.625rem, 1vw, 1.25rem);
}

/* Small boxes inside the card */
.teamscore-card .tmscore-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Align items left in the left box */
.teamscore-card .tmscore-left {
    align-items: flex-start;
}

/* Align items right in the right box */
.teamscore-card .tmscore-right {
    align-items: flex-end;
}

/* Margin for the title */
.teamscore-card .tmscore-ttl {
    margin: 10% 0;
}

/* Bold style for the contents */
.teamscore-card .tmscore-cnt {
    font-weight: bold;
}

/* Color for 'Location' */
.teamscore-card .tmscore-loc {
    color: #999E9C;
}


/******************** side-section  *****************************/
.side-section {
    width: 20%;
}

/* healines section */
.headline-title, .quick-links-title {
    background-color: #75C2B2;
    text-align: center;
    color: white;
}

.headlines-container, .links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/******************** footer  *****************************/

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */
footer {
    width: 100vw;
    height: 100px;
    display: block;
    background-color: #66AA9C;
}

.footer-container {
    width: 100%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    margin: auto;
    position: absolute;
}

.nav-container a {
    margin: 0 10px;
    color: #EEF2F0;
    font-family: 'Arial', serif;
    font-size: 1.5rem;
}

footer a:hover {
    cursor: pointer;
}

/* social media icons */
.social-icons-container {
    display: flex;
    flex-direction: row-reverse;

}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
